/* body
{
    background: linear-gradient(to left, rgba(33, 108, 131, 0.687), rgb(78, 143, 147))
} */
.gradient-custom-login {
    /* fallback for old browsers */
    /* background: #6a11cb; */
    
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1)); */
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left, rgba(33, 108, 131, 0.687), rgb(78, 143, 147));
}
.card
{
    border-radius: 5vw;
}

@media screen and (min-height: 750px) {
    .gradient-custom-login {
      height: 100vh;
    }
  }