.metaal-card
{
  width: 20rem;
  height: 25rem;
  margin:2rem;
  border-radius: 2rem;
  border:none;
  overflow: hidden;
}
.metaal-card:hover .flip-box-front
{
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  
}
.flip-box-back
{
  /* background: linear-gradient(to right, rgba(11, 68, 181, 0.687), rgb(0, 255, 229)); */
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  
}
.flip-box-front
{
  background-color: rgb(1, 14, 9);
  background: linear-gradient(to left, rgba(11, 68, 181, 0.687), rgb(0, 255, 229));
  background: linear-gradient(to left, rgb(0, 0, 0), rgb(0, 0, 0));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  
}
.metaal-card:hover .flip-box-back
{
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  
}
.metaal-card-btn {
  border-radius: 2rem;
  width: 10rem;
}
.explore-more-btn {
  color: black;
  background-color: white;
  background-color: rgb(195, 242, 246);
  border-radius: 0.7vw;
  transition: border-radius 0.3s;
}
.explore-more-btn:hover {
  background-color: rgb(42, 198, 198);
  color: white;
  border-radius: 1vw;
}

.metaal-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.color-white
{
  color: white;
}
/* .flip-box
{
  width: 20rem;
  height: 10rem;
  transform-style: preserve-3d;
  perspective: 1000px;
  cursor: pointer;
} */
.flip-box-front,.flip-box-back
{
  border-radius: 2rem;
  transition:transform 0.7s cubic-bezier(.4,.2,.2,1);
  backface-visibility: hidden;
}

.flip-box-front
{
  background-color: aquamarine;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}
.metaal-card-img
{
  margin-top: 2rem;
  width: 10rem;
  height: 10rem;
  border-radius: 2rem;
}
.metaal-modal-card
{
  background:rgb(0, 0, 0);  
}
