.footer-container {
  border-radius: 100px;
  background-color: rgb(1, 57, 62);

}

@media screen and (max-height: 800px) {
    .footer-container {
        position: relative;
        margin-top:20rem;
    }
  }
@media screen and (max-width: 800px) {
    .footer-container {
        position: relative;
        margin-top:50rem;
    }
  }