.info-card
{
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 5vh;
    text-align: center;
    width: 35rem;
    height: 20rem;
    border-radius: 2rem;
    overflow: hidden;

}
.blue-card
{
    
    background-color:rgb(1, 57, 62);
    /* background-color:rgb(195, 242, 246); */
}
@media screen and (max-width: 600px) {
    .info-card
{

    margin-top: 5vh;
    text-align: center;
    width: 20rem;
    height: 20rem;
    border-radius: 2rem;
    overflow: hidden;

}
  }
